@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad_Pro_Italic';
	src: url('../fonts/Myriad_Pro_Italic.eot');
	src: local('☺'), url('../fonts/Myriad_Pro_Italic.woff') format('woff'), url('../fonts/Myriad_Pro_Italic.ttf') format('truetype'), url('../fonts/Myriad_Pro_Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro It';
	src: url('../fonts/MyriadPro It.eot');
	src: local('☺'), url('../fonts/MyriadPro It.woff') format('woff'), url('../fonts/MyriadPro It.ttf') format('truetype'), url('../fonts/MyriadPro It.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
